/vendor
/node_modules
/.phpunit
/.env
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/database/database.sqlite
Homestead.json
Homestead.yaml
.env.production
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
